@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:ital@0;1 & display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration-style: none;
list-style: none;

}

body{
    background-color: rgb(29, 29, 29);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    
}


/*==================HEADER=================== */

header{
    background: linear-gradient(to bottom, rgb(167, 167, 167), rgb(0, 0, 0));
    /* background-color: rgb(54, 54, 54); */
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 2px 30px;
    height: 60px;
    position: fixed;
    width: 100%;

 
}

.logo{
    height: 60%;
    
}
   
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.navbar-list{
    gap: 3rem;
} 

.navbar-list a{  
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-decoration: none;
    

}
.hero-card{
   height: 300px;
   

  
}

#menu-toggle,
.menu-label{
   
    display: none;
}







/* ================SECTION============== */


main{
   background-image: url(img/fondo67.png);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero {
    
    max-width: 1200px;
   margin-top: 40px;
  padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.hero-info h1{
    font-size: 40px;
    width: 60%;
    min-height: 100px;
   color: rgb(248, 248, 248);
    text-align:start;
  
}

.hero-info p{
    text-align: start;
    font-size: 20px;
    width: 80%;
    color: rgb(241, 241, 241);
}

.hero-info span{
    font-weight: 800;
    text-transform: uppercase;
    color: gray;
   
}
.hero-info a {
    margin: 20px;
    color: rgb(255, 255, 255);
    background: rgb(192, 0, 0);
    text-decoration: none;
    padding: 20px 16px;
    border-radius: 8px;
    

}



.hero-info {
    text-align: center;
}
.hero-card{
    
    width: 100%;
    margin-bottom: 30px; 
}


 
 /* info section */

 #hero{ 
    
    flex-direction: column;
    /* padding: 60px 50px; */
    max-width: 1200px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 60px;
    

}

#info h2{
    color: rgb(231, 231, 231);
    padding: 20px 20px;
    font-size: 2rem;
    font-weight: 400px;
    text-align: center;
    margin: 15px;
    border-radius: 60px;
    
}

.info-card-container{
    justify-content: center;
    display: flex;
    gap: 90px;
    color: rgb(5, 5, 5);
  
    margin: 20px;
}


.info-card{
    background: rgb(68, 68, 68) ;
    width: 250px;
    align-items: center;
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align:center ;
   gap: 20px;
   text-decoration: underline;
    
}

.info-card img{
    
  height: 200px;
}

.info-card p{
    font-size: 17px;
    text-align: center;
    color: rgb(216, 216, 216) ;

}




                 /* descubre section */

#discover {
    display: flex;
    justify-content: center;
    background-image: url(img/suzuki.png.jpg);
    background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

#discover  .container{
    max-width: 1200px;
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;


}


#discover h2{
    font-size: 60px;
    margin: 20px;
    color: rgb(255, 255, 255);

}

#discover p{
    color: white;
   display: flex;
   flex-direction: column;
   align-items:center ;
   font-size: 20px;
   justify-content: center;
   text-transform: capitalize;
   line-height: normal;
   font-weight:900 ;
   letter-spacing: 3px;
  
  
}

#discover a{
    
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin:  50px;
    border: 5px solid;
}





/* --------------footer -------------*/




.footer{
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    text-transform: capitalize;
    background-color: rgb(0, 0, 0);
    padding: 50px 60px;
    

}

.container{
    display: flex;
    justify-content: center;
    
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;

}

.footer-links h3{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    display: inline-block;
    
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    color: aliceblue;
}

.footer-links ul li a:hover{
    padding-left: 6px;
    color: rgb(211, 51, 51);
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(187, 183, 183);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 5s ease;
}

.social-links a:hover{
    background-color: rgb(129, 14, 14);
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}